@mixin fixed-z() {
    position: fixed;
    z-index: -1;
}

.place-behind {
    @include fixed-z();
    width: 100%;
}

#background {
    @extend .place-behind;
    margin-top: -50px;
}

form {
    label {
        display: block;
        margin-bottom: -20px;
        margin-top: 10px;
    }
    label::first-letter {
        font-size: 150%;
    }
}

